<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488719086970-4frjt1i85dv11n81j8poga15uhras3qr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488719086970-4frjt1i85dv11n81j8poga15uhras3qr</string>
	<key>API_KEY</key>
	<string>AIzaSyDKwmKBKDS3ZlHJsiOfs17-lUGCe04IC6U</string>
	<key>GCM_SENDER_ID</key>
	<string>488719086970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.evzhenii.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-26a56</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-26a56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488719086970:ios:94bae0f296e2f806a952c3</string>
</dict>
</plist>